<%= form_with(model: post, local: true, html: { id: 'form' }) do |form| %>
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

  <!-- Include the Quill library -->
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :thumbnail %>
    <%= form.file_field :thumbnail, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :title, 'Título' %>
    <%= form.text_field :title, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :abstract, 'Resumo' %>
    <%= form.text_area :abstract, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content, 'Conteúdo' %>
    <%= form.hidden_field :content, required: true, class: "form-control" %>
    <!-- Create the editor container -->
    <div id="editor">
      <p>Hello World!</p>
      <p>Some initial <strong>bold</strong> text</p>
      <p><br></p>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :tags %>
    <%= form.text_field :tags, class: "form-control"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>


  <!-- Initialize Quill editor -->
  <script>
    var form = document.querySelector('#form');
    var quill = new Quill('#editor', {
      theme: 'snow'
    });

    form.onsubmit = function (e) {
      var postContentInput = document.querySelector('#post_content');
      postContentInput.value = quill.root.innerHTML;
    }
  </script>

<% end %>
