<%= javascript_pack_tag 'application' %>

<%= form_with(model: post, local: true, html: { id: 'form' }) do |form| %>

  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <%= form.label :thumbnail %>
  <div class="custom-file" style="margin-bottom: 20px;">
    <%= form.file_field :thumbnail, required: true, class: "custom-file-input", lang: "pt" %>
    <%= form.label :thumbnail, class: "custom-file-label" %>
  </div>

  <div class="form-group">
    <%= form.label :title, 'Título' %>
    <%= form.text_field :title, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :abstract, 'Resumo' %>
    <%= form.text_area :abstract, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content, 'Conteúdo' %>
    <%= form.hidden_field :content, required: true, class: "form-control" %>
    <!-- Create the editor container -->
    <div id="editor">
      <%= raw sanitize @post.content, tags: %w(strong em a p br u), attributes: %w(href) %> 
    </div>
  </div>

  <div class="form-group">
    <%= form.label :tags %>
    <%= form.text_field :tags, class: "form-control"%>
  </div>

  <div class="actions">
    <%= form.submit "Salvar Post", class: 'btn btn-primary' %>
  </div>

<% end %>

 <script>
    document.querySelector('#post_thumbnail').onchange = function(){
        //get the file name
        var fileName = document.querySelector('#post_thumbnail').value.replace(/^.*[\\\/]/, '');
        //replace the "Choose a file" label
        document.querySelector('.custom-file-label').innerHTML = fileName;
    }
</script>
