<p id="notice"><%= notice %></p>

<h1>Posts</h1>


<% @posts.each do |post| %>
  <div class="card mb-4">
    <div class="img-holder"><%= image_tag(post.thumbnail.url, alt: File.basename(post.thumbnail.url), class: 'card-img-top') %></div>
    <div class="card-body">
      <h2 class="card-title"><%= post.title %></h2>
      <p class="card-text"><%= post.abstract %></p>
      <%= link_to 'Veja Mais', post, class: 'btn btn-primary' %>
      <div>
        <% post.tags.each do |tag| %>
          <a href="#"><%= tag %></a>
        <% end %>
      </div>
    </div>
    <div class="card-footer text-muted">
      Postado em <%= post.created_at %>
      <a href="#"><%= post.user.name %></a>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>
