<div class="row">
  <div class="col-md-12 align-left">
    
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>

      
    <%= link_to 'Voltar', posts_path %>

  </div>
</div>
    
<div class="row">
  <div class="col-md-8">


    <!-- Preview Image -->
    <div class="img-holder-post"><%= image_tag(@post.thumbnail.url, alt: File.basename(@post.thumbnail.url), class: 'card-smg-top') %></div>
    <hr>

    <div class="text-center">

      <!-- Title -->
      <h1 class="mt-4"><%= @post.title %></h1>

      <!-- Author -->
      <p class="lead">
        escrito por
        <a href="#"><%= @post.user.name %></a>
      </p>


      <!-- Date/Time -->
      <p>postado em <%= @post.created_at %></p>

    </div>

    <hr>

    <div class="post-content">
      <!-- Post Content -->
      <%= raw sanitize @post.content, tags: %w(strong em a p br u ul ol h1 h2 h3), attributes: %w(href) %>
    </div>
    <hr>
  </div>


  <div class="col-md-4">

    <!-- Search Widget -->
    <div class="card my-4">
      <h5 class="card-header">Pesquisar Posts</h5>
      <div class="card-body">
          <form action="/posts" method="get">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Presquisar por..." name="search">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="submit">Ir</button>
            </span>
        </div>
          </form>
      </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
      <h5 class="card-header">Categorias</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled tag-list">
              <% Post.all_tags.each do |tag| %>
                <li>
                  <a href="/posts?tag=<%= tag %>"><%= tag %></a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
