<div class="row">
  <div class="col-md-12 align-left">
    
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>

    <% if can? :edit, @post %>
      <%= link_to 'Editar', edit_post_path(@post) %> | 
    <% end %>
      
    <%= link_to 'Voltar', posts_path %>

  </div>
</div>
    
<div class="row">
  <col-md-12>


    <!-- Preview Image -->
    <div class="img-holder-post"><%= image_tag(@post.thumbnail.url, alt: File.basename(@post.thumbnail.url), class: 'card-smg-top') %></div>
    <hr>

    <div class="text-center">

      <!-- Title -->
      <h1 class="mt-4"><%= @post.title %></h1>

      <!-- Author -->
      <p class="lead">
        escrito por
        <a href="#"><%= @post.user.name %></a>
      </p>


      <!-- Date/Time -->
      <p>postado em <%= @post.created_at %></p>

    </div>

    <hr>

    <div class="post-content">
      <!-- Post Content -->
      <%= raw sanitize @post.content, tags: %w(strong em a p br u), attributes: %w(href) %>
    </div>
    <hr>
  </col-md-12>
</div>
